<div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 sound-container">
  <div class = "container">
    <div class = "row">
      <div class = "col-lg-12 col-md-12 col-sm-12 col-xs-12 right-content">
      	<h4><%= comment.body %></h4>
      	<p>Submitted <%= time_ago_in_words(comment.created_at) %> ago</p>
      	<%= link_to 'Delete', board_sound_comment_path(@board, @sound, comment), data: { confirm: 'Are you sure?' }, method: :delete %>
      </div>
    </div>
  </div>
</div>