// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-outer {

	margin-bottom: 20px;

	overflow: auto;

	display: table;

	.board-inner {
		display: table-row;
		width: 100%;
		text-align: left;
		transition: box-shadow .25s;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		border-radius: 2px;

		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		}

		h3 {
			font-family: 'rubik_bold';
		}
	}
}

#board-sounds {
	width: 60%;
}

#board-sounds, #board-info {
	display: inline-block;
}

#board-info {
	width: 32%;
	float: right;

	.board-info-container {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	}
}

.board-panel {
	width: 100%;
	height: 100%;
	margin: 5px;
	text-decoration: none;

	>a {
		width: 100%;
		height: 100%;
		padding: 20px;
		display: inline-block;
		text-decoration: none;
	}
	
	div.board-tags {
		padding: 0px 10px 10px 10px;
	}
}

a.add-board-button {

	position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #03a9f4;
    transition: box-shadow .25s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 13px;
	
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #ccc;
		background-color: #0398db;
	}

	&:hover {
		background-color: #0398db;
	}

	&:visited {
		color: white;
	}
}
