// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board-outer {

	margin-bottom: 20px;

	overflow: auto;

	display: table;

	.board-inner {
		//display: table-row;
		width: 100%;
		text-align: left;
		transition: box-shadow .25s;
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		border-radius: 2px;

		&:hover {
			box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
		}

		&.new-board {
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 0;
			text-align: center;

			h3 {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: 0;
				margin-bottom: 0;
				transform: translate(-50%, -50%);
				font-size:50px;
				color: white;
			}
		}
	}
}

#board-sounds {
	width: 52%;
	margin-left: 5%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

	#empty-content-message {
		padding: 10px 10px 0 10px;
	}
}

#board-sounds, #board-info {
	display: inline-block;
	background-color: white;

	.row {
		margin-left: 0;
		margin-right: 0;

		div.pagination {
			display: block;
		    padding: 20px 20px 0px 20px;
		    margin: 0;
		}

		div.pagination.first {
			border-bottom: 1px solid #dedede;
		}
	}
}

#board-info {
	width: 34%;
	float: right;
	margin-right: 5%;
	background-color: #41545d;

	&.form {
		display: block;
		width: 50%;
		margin: 0 auto;
		float: none;

		#board_name, #board_description, #session_email, #session_password, #user_name, #user_email, #user_password, #user_password_confirmation {
			background-color: transparent;
			border: 0;
			border-bottom: 1px solid white;
			width: 75%;
			color: white;

			&:focus {
				outline: none;
			}
		}

		h4 {
			color: white;
		}

		.remember {
			font-weight:400;
		}

		.remember-checkbox {
			text-align: left;
			width: 75% !important;
			margin: 0 auto;
		}

		#session_email, #session_password, .remember-checkbox, .sidebar-buttons {
			margin-bottom: 10px !important;
		}

	}

	.board-info-container {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
		padding-left: 0;
		padding-right: 0;

		a {
			text-decoration: none;
		}

		.blank-info {
			min-height:40px;
			width: 100%;
			border-bottom: 1px solid #31444d;
			text-align: center;

			.tag {
				display: inline-block;
				color: white;
				margin: 10px 0;
			}
		}

		.edit-info, .add-info, .tag-info {
			padding-right: 15px;
			padding-left: 15px;
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.edit-info {
			text-align: center;
		}

		.add-info, .tag-info {
			border-bottom: 1px solid #31444d;
			text-align: center;

			label, #sound_name, h4, input[type=file], #comment_body, #tag_name {
				color: white;
				width: 100%;
			}

			#sound_soundAttachment {
				margin-left: 12.5%;
			}

			#sound_name, #comment_body, #tag_name {
				background-color: transparent;
				border: 0;
				border-bottom: 1px solid white;
				width: 75%;

				&:focus {
					outline: none;
				}
			}

			h4 {
				margin-top: 0;
				text-align: left;
				margin-left: 12.5%;
			}

			div.actions {
				margin-bottom: 0;
			}

			div.field {
				margin-bottom: 15px;
			}
	
			input[type=submit]:disabled {
				color: #babfc1;
				background-color: #9caaaf;
				border: none;
			}

			#fileError {
				color: red;
			}

			#new_sound_file {
				max-width: 75%;
				margin: 0 auto;
			}
		}

		.sidebar-buttons {
			border: 1px solid #dedede;
			border-radius: 4px;
			padding: 5px 10px;
			background-color: #324750;
			color: white;
			width: 75%;
			margin: 0 auto;
			display: block;
			text-align: left;

			&:hover {
				color: #dedede;
				text-decoration: none;
			}
		}

		.back-button {
			margin-bottom: 10px;
		}
	}
}

.sounds-header {
	min-height: 150px;
	background-color: #e7183f;
	padding-left: 0;
	padding-right: 0;

	h3 {
		padding-left: 15px;
		padding-right: 15px;
		color: white;
		position: absolute;
    		bottom: 60px;
	}

	.description {
		width: 100%;
		min-height: 40px;
		background-color: rgba(0,0,0,0.1);
		position: absolute;
		bottom: 0;
		padding-left: 15px;
		padding-right: 15px;

		p {
			color: white;
			margin: 10px 0;
		}
	}

}

.board-panel {
	width: 100%;
	height: 100%;
	//margin: 5px;
	text-decoration: none;
	background-color: #e7183f;
	color: white;
	position: relative;
	>a {
		color: white;
		width: 100%;
		height: 100%;
		padding: 20px;
		display: inline-block;
		text-decoration: none;
	}
	
	div.board-tags {
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.1);
		padding: 10px 10px 10px 10px;
		>a {
			color: white;
		}

		.tag {
			display: inline;
		}
	}

	span.board-sound-count {
		float: right;
		padding: 10px;
		margin-right: 10px;
	}


}

a.add-board-button {

	position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #03a9f4;
    transition: box-shadow .25s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    color: white;
    font-size: 24px;
    text-align: center;
    padding-top: 13px;
	
	&:hover, &:active, &:focus {
		text-decoration: none;
		color: #ccc;
		background-color: #0398db;
	}

	&:hover {
		background-color: #0398db;
	}

	&:visited {
		color: white;
	}
}
