// Place all the styles related to the Sounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sound-container {
	padding-bottom: 20px;
	padding-top: 20px;
	white-space: normal;
	border-bottom: 1px solid #dedede;

	.container {
		max-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.right-content {
		.sound-name {
			max-width: 90%;
			margin: 0;
			padding: 0;
		}

		&> p {
			margin: 0;
		}

		.sound-bottom-link {
			margin-left: 0px;
			margin-right: 10px;

			&~ .sound-bottom-link {
				margin-left: 10px;
			}

			p {
				display: inline;
			}
		}

		.share {
			display: none;
			padding: 10px 0 0 0;

			.share-button img {
				max-width: 20px;
			}
		}
	}

	.fa-play-circle-o, .fa-pause-circle-o {
		font-size: 28px;
		margin-top: 13.5px;
	}
}

.description .fa-play-circle-o, .description .fa-pause-circle-o {
	color: white;
	font-size:24px;
	line-height:40px;
}